/* WORK SENSE FONT */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{font-family: 'Work Sans', sans-serif;}

  .btn-primary{
    background: #FF900E; border-radius: 8px;font-size: 1.2em;border: none;padding: 20px;
    font-weight: 600; color: white;margin-top: 5px;
  }
  
  
  /* header style */

  header{
    background: rgba(255, 144.05, 13.81, 0.10);
    padding: 50px 240px;
    
  }

  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title{
    font-size: 2.8em;
    font-weight: 700;
    color: color: #131313;
  }

  nav > ul{
    display: flex;
  }

  nav li{
    margin-right: 30px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
  }

  nav li a{
    text-decoration: none;
    color: black;
  }

  /* Banner styles */

  .banner{
    
  }

  .banner-content{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-title{
    font-size: 4em;
    font-weight: 700;
    color: color: #131313;
  }

  .banner-description{
    margin-top: -30px;
  }

.banner img{
  width: 100%;
  margin-top: 25px;
}

/* main styles */

main{
  max-width: 1440px;
margin: 0 auto;

}


.main1-container{
  
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.main1-images{
 display:grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 10px;
 
}

.main1-content{
  margin-right: 5px;
  margin-left: 40px;
  
}

.main1-content h1{
  font-size: 2.8em;
}

.quick{
  font-weight: 400;
}

.of{
  font-weight: 700;}

.features{
color: rgba(255, 144, 14, 1);
}


.some-facts{
  max-width: 750px;
  margin-top: 30px;
}
.some-facts h1{
  margin-bottom: 10px;
}

.achievement{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.achievement div{
  border:2px solid #FF900E;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.achievement div img {
  margin-bottom: -10px;
}

.achieve-text{
  margin-top: -20px;
  font-weight: 600;
}


/* Responsive for small device */

@media screen and (max-width:576px) {

header{
    padding: 20px 5px;
  }

  nav, .main1-container{

flex-direction: column;

  }

  .banner-title{
font-size: 2.5em;
margin-bottom: 40px;
padding: auto;

  }

  
  .main1-images{
    grid-template-columns: 1fr;

  }

  .main1-content{
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .some-facts{
    max-width: 350px;
    /* margin-top: 30px; */
    padding: 0 25px;
  }

  .achievement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  .achievement div{
    padding: 5px;
  }

}

/* Medium screen */

@media screen and (min-width:577px) and (max-width:980px) {

  header{
    padding: 20px ;
    
  }

  

  nav, .main1-container{

    flex-direction: column;
    
      }

      .main1-content{
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
      }
     
      .main1-content h1{
        text-align: center;
        
      }

      .main1-conten p{
        margin-bottom: 5px;
      }

}